@{
    ViewBag.Title = "About";
}
<h2>O mnie.</h2>

<p style="font-weight:bold; font-size:16px;">
    Nazywam się Konrad Wilczek, mam 21 lat.<br />
    Jestem studentem 3 roku informatyki.<br />
    Na stronie znajdziesz projekty, które tworzę oraz wszystkie potrzebne linki.
</p>



