@{
    ViewBag.Title = "Contact";
}
<h2>Kontakt.</h2>


<address>
    Konrad Wilczek<br />
</address>

<address>
    <strong>E-mail:</strong>   <a href="wolframowsky@gmail.com">wolframowsky@gmail.com</a><br />   
</address>