@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="tile col-md-4">
        <i class="glyphicon glyphicon-folder-open" style="font-size:40px;"></i>
        <br />
        Projekty
    </div>
    <div class="tile col-md-4">
        <i class="glyphicon glyphicon-user" style="font-size:40px;"></i>
        <br />
        O mnie
    </div>
    <div class="tile col-md-4">
        <i class="glyphicon glyphicon-envelope" style="font-size:40px;"></i>
        <br />
        Kontakt
    </div>
</div>