@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="tile col-md-4">
        <i class="glyphicon glyphicon-folder-open" style="font-size:40px;"></i>
        <br />
        Projekty
    </div>
    <div class="tile col-md-4">
        <i class="glyphicon glyphicon-user" style="font-size:40px;"></i>
        <br />
        O mnie
    </div>
    <div class="tile col-md-4">
        <i class="glyphicon glyphicon-envelope" style="font-size:40px;"></i>
        <br />
        Kontakt
    </div>
</div>

<div class="page-content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra id magna non dapibus. Vestibulum maximus tortor fermentum risus fermentum, id vehicula justo aliquet. Quisque nunc velit, gravida a venenatis et, lobortis vitae nulla. Maecenas ut enim eu velit cursus tempus sit amet porttitor odio. Aliquam vitae cursus nulla. Nam pulvinar consequat urna eget tempor. Duis id porta velit. Nulla facilisi. Praesent tempor pulvinar justo, id commodo augue tincidunt in. Curabitur vitae massa nec odio eleifend sagittis. In volutpat elementum rhoncus. Curabitur vel ultricies erat. Praesent congue enim erat, at euismod eros molestie ut.

    Aliquam dignissim tellus quis lectus fringilla, id iaculis nunc lacinia. Nullam quam diam, laoreet vel fermentum ac, malesuada vitae ante. Quisque imperdiet pharetra tempor. Cras risus quam, faucibus a vestibulum sagittis, feugiat id neque. Nullam rhoncus fringilla lectus. Etiam fringilla justo at nunc posuere, ac dignissim justo posuere. Morbi diam odio, elementum at nulla vitae, auctor fermentum leo. Donec quis magna urna. Morbi posuere, mauris non euismod luctus, lorem dui scelerisque libero, ultrices porttitor mi mauris eget dolor. Aenean congue tellus leo, iaculis sollicitudin elit facilisis at. Donec in erat ut ipsum pellentesque sagittis.
</div>