@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="tile-menu">
        <div class="tile col-md-4">
            <i class="glyphicon glyphicon-folder-open" style="font-size:40px;"></i>
            <br />
            Projekty
        </div>
        <div class="tile col-md-4">
            <i class="glyphicon glyphicon-user" style="font-size:40px;"></i>
            <br />
            O mnie
        </div>
        <div class="tile col-md-4">
            <i class="glyphicon glyphicon-envelope" style="font-size:40px;"></i>
            <br />
            Kontakt
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
            <div class="bd-placeholder-img card-img-top">
                <img src="~/img/GigHub.PNG" class="card-img-top img-bd img-fluid" />
            </div>
            <div class="card-body">
                <p class="card-text">
                    <h2 class="text-header">GigHub</h2>
                    <span class="text-body">Aplikacja stworzona podczas przechodzenia kursu Become a Full-stack .NET Developer By Mosh Hamedani</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
            <div class="bd-placeholder-img card-img-top">
                <img src="~/img/FitApp.PNG" class="card-img-top img-bd img-fluid" />
            </div>
            <div class="card-body">
                <p class="card-text">
                    <h2 class="text-header">FitApp</h2>
                    <span class="text-body">Aplikacja stworzona w ramach przedmiotu Programowanie aplikacji WWW w technologii .NET</span>
                </p>
            </div>
        </div>
    </div>
    
</div>

