@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
            <a href="https://dev.azure.com/wolframowsky/GigHub" target="_blank">
                <span class="tile-action"></span>
            </a>
            <div class="bd-placeholder-img card-img-top">
                <img src="~/img/GigHub.PNG" class="card-img-top img-bd img-fluid" />
            </div>
            <div class="card-body">
                <p class="card-text">
                    <h2 class="text-header">GigHub</h2>
                    <span class="text-body">Aplikacja stworzona podczas przechodzenia kursu <strong>Become a Full-stack .NET Developer By Mosh Hamedani</strong></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
            <a href="https://dev.azure.com/mtbuszynski/FitAppProject" target="_blank">
                <span class="tile-action"></span>
            </a>
            <div class="bd-placeholder-img card-img-top">
                <img src="~/img/FitApp.PNG" class="card-img-top img-bd img-fluid" />
            </div>
            <div class="card-body">
                <p class="card-text">
                    <h2 class="text-header">FitApp</h2>
                    <span class="text-body">Aplikacja stworzona w ramach przedmiotu Programowanie aplikacji WWW w technologii .NET</span>

                </p>
            </div>
        </div>
    </div>
    
</div>

